@import "tailwindcss";
@plugin "daisyui" {
  themes:
    winter  ,
    valentine --default,
    dracula ,
    synthwave --prefersdark;
}

/* 自定义样式 */
body {
  min-height: 100vh;
  font-family: sans-serif;
}

/* 触发重新布局的临时类 */
.theme-refreshing {
  transition: background-color 0.3s ease;
}


.file-drop-active {
  border-color: hsl(var(--p)) !important;
  background-color: hsl(var(--p) / 0.1);
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


